<a href="https://colab.research.google.com/github/Mansi67/Web_Scraping_Jobs/blob/main/LinkedIn_Webscraping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Problem Statement: Navigating the Data Science Job Landscape**

üöÄ Unleash your creativity in crafting a solution that taps into the heartbeat of the data science job market! Envision an ingenious project that seamlessly wields cutting-edge web scraping techniques and illuminating data analysis.

üîç Your mission? To engineer a tool that effortlessly gathers job listings from a multitude of online sources, extracting pivotal nuggets such as job descriptions, qualifications, locations, and salaries.

üß© However, the true puzzle lies in deciphering this trove of data. Can your solution discern patterns that spotlight the most coveted skills? Are there threads connecting job types to compensation packages? How might it predict shifts in industry demand?

üéØ The core objectives of this challenge are as follows:

1. Web Scraping Mastery: Forge an adaptable and potent web scraping mechanism. Your creation should adeptly harvest data science job postings from a diverse array of online platforms. Be ready to navigate evolving website structures and process hefty data loads.

2. Data Symphony: Skillfully distill vital insights from the harvested job listings. Extract and cleanse critical information like job titles, company names, descriptions, qualifications, salaries, locations, and deadlines. Think data refinement and organization.

3. Market Wizardry: Conjure up analytical tools that conjure meaningful revelations from the gathered data. Dive into the abyss of job demand trends, geographic distribution, salary variations tied to experience and location, favored qualifications, and emerging skill demands.

4. Visual Magic: Weave a tapestry of visualization magic. Design captivating charts, graphs, and visual representations that paint a crystal-clear picture of the analyzed data. Make these visuals the compass that guides users through job market intricacies.

üåê While the web scraping universe is yours to explore, consider these platforms as potential stomping grounds:

* LinkedIn Jobs
* Indeed
* Naukri
* Glassdoor
* AngelList

üéà Your solution should not only decode the data science job realm but also empower professionals, job seekers, and recruiters to harness the dynamic shifts of the industry. The path is open, the challenge beckons ‚Äì are you ready to embark on this exciting journey?

In [2]:
!pip install requests
!pip install beautifulsoup4

Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests) (2023.11.17)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.10/dist-packages (4.11.2)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4) (2.5)

In [45]:
import requests
from bs4 import BeautifulSoup
import math
import pandas as pd

In [113]:
l=[]
k=[]
o={}

In [114]:
target_url='https://www.linkedin.com/jobs-guest/jobs/api/seeMoreJobPostings/search?keywords=data%20scientist&location=India&geoId=102713980&trk=public_jobs_jobs-search-bar_search-submit&position=1&pageNum=0&currentJobId=3761864489&start={}'

In [116]:
for i in range(0,math.ceil(25/25)):
    res = requests.get(target_url.format(i))
    soup=BeautifulSoup(res.text,'html.parser')
    alljobs_on_this_page=soup.find_all("li")
    print(len(alljobs_on_this_page))
    for x in range(0,len(alljobs_on_this_page)):
        jobid = alljobs_on_this_page[x].find("div",{"class":"base-card"}).get('data-entity-urn').split(":")[3]
        l.append(jobid)
target_url='https://www.linkedin.com/jobs-guest/jobs/api/jobPosting/{}'
for j in range(0,len(l)):
    resp = requests.get(target_url.format(l[j]))
    soup=BeautifulSoup(resp.text,'html.parser')
    try:
        o["Company"]=soup.find("div",{"class":"top-card-layout__card"}).find("a").find("img").get('alt')
        # soup.find("span",{"class": "topcard__flavor"}).find("a").text.strip()
    except:
        o["Company"]=None
    try:
        o["Job-title"]=soup.find("div",{"class":"top-card-layout__entity-info"}).find("a").text.strip()
    except:
        o["Job-title"]=None
    try:
      o['Location']=soup.find("span",{"class" :"topcard__flavor topcard__flavor--bullet"}).text.strip()
    except:
      o['Location']=None
    try:
        o["Seniority-Level"]=soup.find("ul",{"class":"description__job-criteria-list"}).find_all("li")[0].find("span").text.strip()
        # text.replace("Seniority level","").strip()
    except:
        o["Seniority-Level"]=None
    try:
         o["Employment-Type"]=soup.find("ul",{"class":"description__job-criteria-list"}).find_all("li")[1].find("span").text.strip()
    except:
         o["Employment-Type"]=None
    try:
         o["Job-Function"]=soup.find("ul",{"class":"description__job-criteria-list"}).find_all("li")[2].find("span").text.strip()
    except:
         o["Job-Function"]=None
    try:
         o["Industry"]=soup.find("ul",{"class":"description__job-criteria-list"}).find_all("li")[3].find("span").text.strip()
    except:
         o["Industry"]=None

    k.append(o)
    o={}

25

In [117]:
df = pd.DataFrame(k)

In [118]:
df

,Company,Job-title,Location,Seniority-Level,Employment-Type,Job-Function,Industry
0,PwC India,Data Scientist,"Bengaluru, Karnataka, India",Mid-Senior level,Full-time,Engineering and Information Technology,Business Consulting and Services
1,Microsoft,DATA SCIENTIST,"Bengaluru, Karnataka, India",Not Applicable,Full-time,Engineering and Information Technology,Software Development
2,SLB,Data Scientist,"Pune, Maharashtra, India",Associate,Full-time,Engineering and Information Technology,Oil and Gas
3,Tesco Bengaluru,Associate Data Scientist,"Bengaluru, Karnataka, India",Not Applicable,Full-time,Information Technology,Retail
4,Infosys,Python Developer,"Pune, Maharashtra, India",Mid-Senior level,Full-time,Engineering and Information Technology,IT Services and IT Consulting
5,Microsoft,DATA & APPLIED SCIENTIST,"Bengaluru, Karnataka, India",Not Applicable,Full-time,Engineering and Information Technology,Software Development
6,Endeavor,Data Scientist (People & HR Analytics),"Bengaluru, Karnataka, India",Associate,Full-time,Analyst and Research,Spectator Sports and Entertainment Providers
7,EXL,Data scientist - Google Analytics,"Delhi, India",Mid-Senior level,Full-time,Other,Outsourcing and Offshoring Consulting
8,IndusInd Bank,Data Scientist,"Gurugram, Haryana, India",Mid-Senior level,Full-time,Analyst,Banking
9,LTIMindtree,Data Scientist,"Mumbai, Maharashtra, India",Mid-Senior level,Full-time,Information Technology,IT Services and IT Consulting
10,Infosys,Data Scientist,"Bengaluru East, Karnataka, India",Entry level,Full-time,Engineering and Information Technology,IT Services and IT Consulting
11,Fractal,Data Scientist,"Maharashtra, India",Mid-Senior level,Full-time,Engineering and Information Technology,Business Consulting and Services
12,LTIMindtree,Data Scientist,"Pune, Maharashtra, India",Mid-Senior level,Full-time,Engineering and Information Technology,IT Services and IT Consulting
13,NAB,Data Scientist,"Gurugram, Haryana, India",Mid-Senior level,Full-time,Engineering and Information Technology,Banking
14,Oracle,Python Developer,"Bengaluru, Karnataka, India",Mid-Senior level,Full-time,Engineering and Information Technology,IT Services and IT Consulting and Software Dev...
15,CoinSwitch,Data Scientist,"Bengaluru, Karnataka, India",Associate,Full-time,"Engineering, Information Technology, and Analyst",Financial Services
16,IQVIA,Machine Learning Engineer,"Bengaluru, Karnataka, India",Mid-Senior level,Full-time,Engineering and Information Technology,Hospitals and Health Care
17,"Dubai Jobs, Gulf Jobs, Jobs in Dubai, Qatar, K...",Data Scientist,"Bangalore Urban, Karnataka, India",Entry level,Full-time,Engineering and Information Technology,Staffing and Recruiting
18,"Dubai Jobs, Gulf Jobs, Jobs in Dubai, Qatar, K...",ML Engineer,"Bangalore Urban, Karnataka, India",Entry level,Full-time,Engineering and Information Technology,Staffing and Recruiting
19,Experfy,AI/ML Data Scientist,"Bengaluru, Karnataka, India",Mid-Senior level,Full-time,Engineering and Information Technology,"Technology, Information and Internet"
20,LTIMindtree,Data Science- Gen AI,"Pune, Maharashtra, India",Mid-Senior level,Full-time,Information Technology,IT Services and IT Consulting
21,EXL,Data Scientist,"Noida, Uttar Pradesh, India",Mid-Senior level,Full-time,Information Technology and Other,"IT Services and IT Consulting, Information Ser..."
22,"Dubai Jobs, Gulf Jobs, Jobs in Dubai, Qatar, K...",AI/ML Engineer,"Bangalore Urban, Karnataka, India",Entry level,Full-time,Engineering and Information Technology,Staffing and Recruiting
23,Snap Inc.,"Data Scientist, India","Mumbai, Maharashtra, India",Entry level,Full-time,Engineering and Information Technology,Software Development
24,Oracle,Data Scientist 3,"Bengaluru, Karnataka, India",Mid-Senior level,Full-time,Information Technology,IT Services and IT Consulting